.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header {
    border-bottom: 2px solid #ffaff4;
    padding: 15px 0;
    font-family: arial;
    background-color: #d559ff;
}

footer {
    background-color: #d559ff;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer a { 
    color: #ffd014; 
}

footer a:hover, footer a:focus {
    color: #6cdfff;
    outline: 3px solid #ffd014;
}

@media (max-width: 600px) {
    .logo-menu {
        flex-direction: column;
        gap: 15px;
    }
}