.logo-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

header {
    border-bottom: 2px solid --cor-borda;
    padding: 15px 0;
    font-family: arial;
    background-color: var(--cor-fundoroxo);
}

footer {
    background-color: var(--cor-fundoroxo);
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
    margin-top: 40px;
}

footer a { 
    color: #ffd014; 
}

footer a:hover, footer a:focus {
    color: var(--cor-linkapp-foco);
    outline: 3px solid var(--cor-borda-linkapp-foco);
}

@media (max-width: 600px) {
    .logo-menu {
        flex-direction: column;
        gap: 15px;
    }
}