.link-pular {
    position: absolute;
    top: -100px;
    left: 0;
    background: #0056b3;
    color: white;
    padding: 10px;
    z-index: 100;
}
.link-pular:focus { top: 0; }

.jogar {
    display: block;
    background-color: var(--cor-fundoroxo);
    padding: 12px 24px;
    text-decoration: none;
    border-radius: 6px;
    margin-top: 20px;
    font-weight: bold;
    color: white;
    width: 152px;
    justify-content: center;
}

.jogar:hover, .jogar:focus {
    background-color: var(--cor-focoJogar);
    outline: 3px solid #ffb300;
    color: #ffb300;
}

.hero {
    padding: 60px 0;
    text-align: justify;
}

.hero h1 {
    font-size: 30px;
    margin-bottom: 10px;
    color: #111;
}
