:root {
    --cor-fundo: #ffec59;
    --cor-texto: #1a1a1a;
    --cor-fundoroxo: #d559ff;
    --cor-borda: #ffaff4;
    --cor-linkapp-foco: #6cdfff;
    --cor-borda-linkapp-foco: #ffd427;
    --cor-focoJogar: #b138d9;
    --cor-gameOver: #ec3615;
    --cor-letra-botao: #ffdd44;
    --cor-letra-botaofoco: #fdc91d;
}

[data-theme = "dark"] {
    --cor-fundo: #a87b00;
    --cor-texto: #fbffc5;
    --cor-fundoroxo: #591270;
    --cor-borda: #963288;
    --cor-linkapp-foco: #219fc2;
    --cor-borda-linkapp-foco: #bd9a0d;
    --cor-focoJogar: #521052;
    --cor-gameOver: #cc1205;
    --cor-letra-botao: #ffb300;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: MV Boli, sans-serif;
    line-height: 1.6;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}