:root {
    --cor-fundo: #ffec59;
    --cor-texto: #1a1a1a;
}

[data-theme = "dark"] {
    --cor-fundo: #8a6708;
    --cor-texto: #fbffc5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: MV Boli, sans-serif;
    line-height: 1.6;
    color: var(--cor-texto);
    background-color: var(--cor-fundo);
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}